.timeline-header-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.round-image-item {
    position: absolute;
    width: 100%;
    height: auto;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.clients-panel-profileimg-container {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #d2d6de;
    overflow: hidden;
    position: relative;
}

.clients-panel-search-input{
    width: 20%;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
}

.box-body-centered {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    text-align: center;
}

.text-muted-12{
    font-size:12px;
    color: #818a91;
}

.btn-inline {
    margin: 5%;
    position: relative;
    width: 40%;
}

.success {
    color: #00a65a;
}

.clients-panel-checkin-time {
    color:#999;
    float:left;
    padding:10px;
    font-size:12px
}